{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <title>
        {% block title %} {% endblock%}
        </title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">MU Django</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
         </li>

        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sign-out' %}">Sign Out</a>
            </li>
         {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sign-up' %}">Sign Up</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sign-in' %}">Sign In</a>
            </li>
        {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
            <input 
                class="form-control mr-sm-2" 
                type="search" 
                placeholder="Search" 
                aria-label="Search" 
                name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
    {% block content %}
    {% endblock %}

    </body>
</html>