{% extends 'blog/base.html' %}

{% block title %} 
Welcome to Home
{% endblock%}

{% block content %}
<div class="container">
    <h1>Hello, Django MU</h1>
    <p>I love to learn Django Framework</p>
    <div class="row">
    {% for post in all_posts %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="{{ post.feature_image.url }}" alt="{{ post.title }}">
                <div class="card-body">
                    <img src="{{ post.feature_image.url }}" alt="">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text text-secondary">{{ post.short_description }}</p>
                    <p class="card-text">{{ post.date_created|date }}</p>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More.</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}